
.admin-action-column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: stretch;
}

.admin-table .actions {
    display: block;
    min-width: 160px; 
}

.admin-action-column a {
    width: 100%;
    text-align: center;
    margin-bottom: 5px; 
}
